/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 21, 2022, 10:08:26 PM
    Author     : LEEN
*/
.dialog-pane {
    -fx-background-color: white;
}

.dialog-pane .label {
    -fx-font-family: "baloo da";
    -fx-font-size: 15px;
    
    
}


