/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 21, 2022, 7:40:47 PM
    Author     : LEEN
*/
#title {
    -fx-font-family: "baloo da";
    -fx-font-size: 50px;
    -fx-font-weight: bold;
}

#subtitle {
    -fx-font-family: "baloo da";
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

#label {
    -fx-font-family: "baloo da";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#textfield {
    -fx-display-caret: false;
    
}
#name {
    -fx-font-family:"baloo da";
    -fx-font-weight: bold;
}
